div {


}

title {
  font-size: 28px;
  color: silver;
  font-family: "Lucida Console";
  text-shadow: 3px 3px 5px #000000;
}

h1 {
  font-size: 28px;
  color: silver;
  font-family: "Lucida Console";
  text-shadow: 3px 3px 5px #000000;
}

h2 {
  font-size: 24px;
  color: silver;
  font-family: "Lucida Console";
  text-shadow: 3px 3px 5px #000000;
}

h3 {
  font-size: 22px;
  color: dimgrey;
  font-family: "Lucida Console";
  font-weight: bolder;
}

h2:hover {
	color: white;
	background-color: grey;
}

p {
	font-size: 18px;
	color: dimgrey;
	font-family: "Lucida Console";
	background-color: #f8f5f0;
  text-indent: 25px;
}
